#development
.env
node_modules/
vendor/
wp-content/db.php
wp-content/plugins/wp-tinkerwell.php
wp-content/plugins/query-monitor-3.15.0

#platform
.DS_Store
Thumbs.db
*.app
*.exe
*.war

# Wordpress common files
.htaccess
readme.html

# Wordpress content
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/backup-db/
wp-content/backup-db/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/upgrade-temp-backup/*
wp-content/uploads/*

# Wordpress themes and pluging (only for this repository)
wp-content/themes
wp-content/themes/
wp-content/themes/*
wp-content/plugins
wp-content/plugins/
wp-content/plugins/*
wp-content/mu-plugins
wp-content/mu-plugins/
wp-content/mu-plugins/*
